<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.hanfu.mapper.CommentsMapper">
    <resultMap id="BaseResultMap" type="com.project.hanfu.model.Comments">
        <id column="cmid" jdbcType="BIGINT" property="cmid" />
        <result column="uid" jdbcType="BIGINT" property="uid" />
        <result column="comments" jdbcType="VARCHAR" property="comments" />
        <result column="reply_comments" jdbcType="DECIMAL" property="replyComments" />
        <result column="isreply" jdbcType="TINYINT" property="isreply" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="isdelete" jdbcType="TINYINT" property="isdelete" />
    </resultMap>
    <sql id="Base_Column_List">
        cmid, uid, comments, reply_comments,isreply, update_time, create_time,isdelete
    </sql>


</mapper>