<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.ConsultationInfoMapper">

    <resultMap id="BaseResultMap" type="com.project.model.ConsultationInfo">
        <id column="consultation_id" jdbcType="BIGINT" property="consultationId"/>
        <result column="consultation_content" jdbcType="VARCHAR" property="consultationContent"/>
        <result column="is_deleted" jdbcType="TINYINT" property="isdeleted"/>
    </resultMap>

    <sql id="Base_Column_List">
        consultation_id, consultation_content, is_deleted
    </sql>

    <!-- 查询所有资讯 -->
    <select id="selectAllConsultations" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM consultation_info
        WHERE is_deleted = 0
    </select>

    <!-- 根据ID查询资讯 -->
    <select id="selectById" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM consultation_info
        WHERE consultation_id = #{consultationId} AND is_deleted = 0
    </select>

    <!-- 插入新资讯 -->
    <insert id="insertConsultation" parameterType="com.project.model.ConsultationInfo" useGeneratedKeys="true" keyProperty="consultationId">
        INSERT INTO consultation_info (consultation_content, is_deleted)
        VALUES (#{consultationContent}, 0)
    </insert>

    <!-- 更新资讯信息 -->
    <update id="updateConsultation" parameterType="com.project.model.ConsultationInfo">
        UPDATE consultation_info
        SET consultation_content = #{consultationContent}
        WHERE consultation_id = #{consultationId}
    </update>

    <!-- 删除资讯 -->
    <update id="deleteConsultation" parameterType="Long">
        UPDATE consultation_info SET is_deleted = 1 WHERE consultation_id = #{consultationId}
    </update>
</mapper>