<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.hanfu.mapper.HanfuMapper">
    <resultMap id="BaseResultMap" type="com.project.hanfu.model.Hanfu">
        <id column="hid" jdbcType="BIGINT" property="hid" />
        <result column="hanfu_name" jdbcType="VARCHAR" property="hanfuName" />
        <result column="hanfu_type" jdbcType="VARCHAR" property="hanfuType" />
        <result column="price" jdbcType="DECIMAL" property="price" />
        <result column="hanfu_detail" jdbcType="VARCHAR" property="hanfuDetail" />
        <result column="img_guid" jdbcType="VARCHAR" property="imgGuid" />
        <result column="state" jdbcType="TINYINT" property="state" />
        <result column="ispromotion" jdbcType="TINYINT" property="ispromotion" />
        <result column="original_price" jdbcType="DECIMAL" property="originalPrice" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="isdelete" jdbcType="TINYINT" property="isdelete" />
    </resultMap>
    <sql id="Base_Column_List">
        hid, hanfu_name, hanfu_type, price,hanfu_detail, img_guid, state,ispromotion,original_price,update_time, create_time,
    isdelete
    </sql>


</mapper>