<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.hanfu.mapper.HanfuTypeMapper">
    <resultMap id="BaseResultMap" type="com.project.hanfu.model.HanfuType">
        <id column="htid" jdbcType="BIGINT" property="htid" />
        <result column="hanfu_type" jdbcType="VARCHAR" property="hanfuType" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="isdelete" jdbcType="TINYINT" property="isdelete" />
    </resultMap>
    <sql id="Base_Column_List">
        htid, hanfu_type, hanfu_type, update_time, create_time,isdelete
    </sql>


</mapper>