<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.hanfu.mapper.PromotionMapper">
    <resultMap id="BaseResultMap" type="com.project.hanfu.model.Promotion">
        <id column="pid" jdbcType="BIGINT" property="pid" />
        <result column="ptid" jdbcType="BIGINT" property="ptid" />
        <result column="promotion_name" jdbcType="VARCHAR" property="promotionName" />
        <result column="promotion_detail" jdbcType="VARCHAR" property="promotionDetail" />
        <result column="img_guid" jdbcType="VARCHAR" property="imgGuid" />
        <result column="state" jdbcType="TINYINT" property="state" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="isdelete" jdbcType="TINYINT" property="isdelete" />
    </resultMap>
    <sql id="Base_Column_List">
        pid, promotion_name,ptid,promotion_detail,img_guid,state, update_time, create_time,isdelete
    </sql>


</mapper>